html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	background: #000000;
	color: white;
}

html, body, canvas {
	touch-action: none;
	touch-action-delay: none;
}

@font-face {
	font-family: 'Tahu!';
	src: url('fonts/tahu!.ttf') format('truetype');
}

